body {
    font-family: Arial;
    background: #f4f4f4;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.post {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
}

.note {
    font-size: 14px;
    color: gray;
    text-align: center;
}
